username            = "username"
password            = "password"
domain_name         = "domain_name"
project_id          = "project_id"
auth_url            = "auth_url"
image_name          = "ubuntu-bionic-18.04-amd64-server-20180426.2"
node_count          = 1
kubernetes_version  = "1.11.3"
pod_subnet          = "192.168.0.0/16" # e.g. for Calico
cluster_name        = "fluffy_unicorn"
containerd_version  = "1.1.4"
