username            = "username"
password            = "password"
domain_name         = "domain_name"
project_id          = "project_id"
auth_url            = "auth_url"
image_name          = "image_name"
node_count          = 4
kubernetes_version  = "v1.11.0"
pod_subnet          = "192.168.0.0/16" # e.g. for Calico
cluster_name        = "fluffy_unicorn"
